header {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid lightgrey;
    padding: 0 20px;
    z-index: 200;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.left-header {
    margin-left: 35px;
}

.page-title {
    height: 45px;
}

.right-header {
    display: flex;
    width: 185px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    
}

.right-header img {
    width: 22px;
}

.right-header .profile {
    width: 25px;
}

section {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 80px auto 0;
    max-height: inherit;
    border-radius: 7px;
    border: 1px solid lightgrey;
    overflow: hidden;
}

.right-side {
    display: flex;
    flex-direction: column;
    height: inherit;
    position: relative;
    flex: 1;
    background-color: white;
}

.profile {
    width: 35px;
    height: auto;
    margin-right: 10px;    
}

.middle-content img {
    height: 34px;
}


.recipe-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 16px 8px 8px;
    margin-top: auto;
    z-index: 100;
    border-top: 1px solid lightgrey;
}

.recipe-icons img {
    height: 22px;
    padding: 8px;
}

.recipe-icons img:hover {
    opacity: 60%;
}

.top-content {
    display: flex;
    padding: 8px 16px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    z-index: 100;
}

.middle-content {
    display: flex;
    padding: 16px;
    flex: 1;
    overflow-y: scroll;
    height: calc(100% - 145px);
    box-sizing: content-box;
    position: absolute;
    vertical-align: baseline;
margin-top: 60px;


}


.username {
    font-weight: 500;
}

.katsu, .gyudon, .food {
    width: 500px;
}

img, .username {
    cursor: pointer;
}

